<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include("./partials/nav.ejs")%>
    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ad animi
        laborum? Vitae dolor voluptas, nisi ipsum beatae repellendus, aut culpa
        saepe quos cupiditate aliquam aspernatur accusantium sint. Officia
        magnam facere, nemo nisi commodi ipsa, corporis omnis quibusdam
        accusamus molestiae quia explicabo, amet eius. Odio, iste. Illo corrupti
        officiis optio.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ad animi
        laborum? Vitae dolor voluptas, nisi ipsum beatae repellendus, aut culpa
        saepe quos cupiditate aliquam aspernatur accusantium sint. Officia
        magnam facere, nemo nisi commodi ipsa, corporis omnis quibusdam
        accusamus molestiae quia explicabo, amet eius. Odio, iste. Illo corrupti
        officiis optio.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ad animi
        laborum? Vitae dolor voluptas, nisi ipsum beatae repellendus, aut culpa
        saepe quos cupiditate aliquam aspernatur accusantium sint. Officia
        magnam facere, nemo nisi commodi ipsa, corporis omnis quibusdam
        accusamus molestiae quia explicabo, amet eius. Odio, iste. Illo corrupti
        officiis optio.
      </p>
    </div>
  </body>
  <%- include("./partials/footer.ejs")%>
</html>
